.container-fluid{
	// <!-- dat -->

	// 	<!-- and dat -->
	// 	<!-- son -->

	// 	<!-- end son -->
	// 	<!-- duy -->

	// 	<!-- end duy -->
	// 	<!-- hau -->

	// 	<!-- end hau -->
	// 	<!-- duy01 -->

	// 	<!-- duy01 -->
	// 	<!-- hung -->

	// 	<!-- end hung -->
	// 	<!-- phong -->

	// 	<!-- end phong -->
	// 	<!-- thang -->
		.thang{
	height: auto;
	background: #424242;
	color: white;
	clear: both;
	.t1{
		height: 400px;
		// background: red;
		float: left;
		.t1-1{
			height: 30%;
			// background: yellow;
			h2{
				display: block;
				margin: 0 auto;
				margin-top: 15%;
				@media screen and (min-width: 319px) and (max-width: 767px){
					margin-left: 10px;
				}
			}
		}
		.t1-2{
			height: 42%;
			// background: green;
			p{
				font-size: 15px;
				padding: 10px;
			}
		}
	}
	.t2{
		
		height: 400px;
		// background: pink;
		float: left;
		.t2-1{
			height: 30%;
			// background: yellow;
			h5{
				display: block;
				margin: 0 auto;
				margin-top: 15%;
				@media screen and (min-width: 319px) and (max-width: 767px){
					margin-left: 15px;
					margin-top: 20px;
				}
			}
		}
		.t2-2{
			height: 60%;
			// background: blue;
			color: grey;
			.col-md-12{
				height: 25%;
				// background: purple;
				border-bottom: 1px solid white;
				@media screen and (min-width: 319px) and (max-width: 767px){
		border-bottom: none;
			}
				img{
					margin: 8%;
					width: 10px;
					height: 10px;
					float: left;
					@media screen and (max-width: 769px){
						display: none;
					}
				}
				p{
					float: left;
					margin-left: 2%;
					margin-top: 5%;
					@media screen and (max-width: 769px){
						margin: 20px 0px;
					}
					@media screen and (min-width: 319px) and (max-width: 767px){
						width: 120%;
					}
				}
			}
		}
	}
	.t3{
		height: 400px;
		// background: red;
		float: left;
		.t3-1{
			height: 30%;
			// background: pink;
			h5{
				display: block;
				margin: 0 20%;
				margin-top: 15%;
				@media screen and (min-width: 319px) and (max-width: 767px){
					margin-right: 5px;
				}
			}
		}
		.t3-2{
			height: 50%;
			// background: yellow;
			.col-md-4{
				img{
					display: block;
					height: 45%;
					width: 100%;

				}
			}
		}
	}
	.t4{
		height: 400px;
		// background: pink;
		.t4-1{
			height: 30%;
			// background: red;
			h5{
				display: block;
				margin: 0 5%;
				margin-top: 15%;
			}
		}
		.t4-2{
			height: 50%;
			// background: green;
			color: grey;
			.col-md-12{
				height: 100%;
				// background: blue;
				img{
					display: block;
					width: 32px;
					height: 32px;
					margin-top: -5px;
				}
			}
		}
	}
	.footer{
		height: 100px;
		background: #1C1C1C;
		color: grey;
		.icon{
			height: 80px;
			// background: pink;
			float: left;
			width: 35%;
			margin: 0 33%;
			i{
				display: block;
				margin-left: 13.5%;
				float: left;
				margin-top: 10%;
				@media screen and (max-width: 767px){
					display: none;
				}
			}
			a{
				text-decoration: none;
				display: block;
				margin: 0 auto;
				text-align: center;
				color: grey;
				@media screen and (max-width: 767px){
					text-align: inline;
					width: 200%;
					margin-left: -50px;
				}
			}

		}
	}
}
	// 	<!-- end thang -->
}