.container-fluid{
	// <!-- dat -->

	// 	<!-- and dat -->
	// 	<!-- son -->

	// 	<!-- end son -->
	// 	<!-- duy -->

	// 	<!-- end duy -->
	// 	<!-- hau -->

	// 	<!-- end hau -->
	// 	<!-- duy01 -->

	// 	<!-- duy01 -->
	// 	<!-- hung -->

	// 	<!-- end hung -->
	// 	<!-- phong -->
	.phong{
		
		margin: 0 auto;
		// height: auto;
		height: 320px;
		background-image: url(anhphong/hoa.jpg);
		background-size: 100% 100%;
		clear: both;

		@media screen and (max-width: 767px){
			height: auto;
		}
		.pro{
			height: 100%;
			background: linear-gradient(to bottom, rgba(153,50,204,0.5),rgba(255,20,147, 0.5),rgba(240,128,128, 0.5));
			.box1{
				float: left;
				// background: gray;
				h5{
					margin-top: 7%;
					text-align: center;	
					color: white;			
				}
				.card-deck{
					margin-top: 4%;
					a{
						text-decoration: none;
						&:hover{
							transform: scale(1.2);
						}
						.card-img-top{
							width: 100%;
							height: 100%;
						}	
					}
				}
			}
			.box2{
				float: left;
				h5{	
					text-align: center;
					margin-top: 12%;
					color: white;
				}
				p{
					text-align: center;
					margin-top: 6%;
					color: white;
					font-family: VnAristote;
				}
				.carousel{
					.carousel-inner{
						width: 15%;
						margin: 0 auto;
						.carousel-item{
							width: 100%;
						}
					}
				}
			}
		}
	}
	// 	<!-- end phong -->
	// 	<!-- thang -->
		
	// 	<!-- end thang -->
}