<<<<<<< HEAD
.container-fluid .dat {
  height: auto;
  background: none;
}
.container-fluid .dat .menudat {
  width: auto;
  background-color: rgba(99, 158, 219, 0.8);
  height: 35px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container-fluid .dat .menudat {
    display: none;
  }
}
.container-fluid .dat .menudat .col-sm-6 {
  height: 35px;
  color: white;
}
.container-fluid .dat .menudat .col-sm-6 i.fa-clock {
  float: left;
  padding-left: 12%;
  margin-top: 1%;
}
.container-fluid .dat .menudat .col-sm-6 i.fa-angle-right {
  float: left;
  padding-left: 4%;
  margin-top: 1%;
}
.container-fluid .dat .menudat .col-sm-6 span {
  float: left;
  margin-left: 3%;
  margin-top: 0.4%;
}
.container-fluid .dat .menudat .col-sm-6 p {
  float: left;
  padding-left: 1%;
  margin-top: 0.5%;
  font-size: 13px;
}
.container-fluid .dat .menudat .v1 {
  height: 30px;
  background: pink;
}
.container-fluid .dat .menudat .v1 .card {
  height: 30px;
  max-width: 20rem;
}
.container-fluid .dat .menudat .navbar {
  height: 80px;
  background: #FFFFFF;
  opacity: 0.1;
}
.container-fluid .dat .menudat .navbar .nav-item .nav-link {
  line-height: 80px;
  margin-right: 20px;
  color: black;
}
.container-fluid .dat .carousel-caption {
  width: 400px;
  height: 300px;
  top: 30px;
  left: 60px;
}
.container-fluid .dat .carousel-caption h1 {
  font-size: 50px;
  height: auto;
  width: 90%;
  margin: 0 auto;
  color: black;
  border-bottom: 1px solid black;
}
.container-fluid .dat .carousel-caption p {
  color: black;
}
.container-fluid .dat .carousel-caption img {
  margin-top: 10px;
  width: 90%;
}
@media screen and (max-width: 767px) {
  .container-fluid .dat .menudat {
    display: none;
  }
  .container-fluid .dat #demo .carousel-caption {
    top: 5%;
    left: 0;
  }
  .container-fluid .dat #demo .carousel-caption h1 {
    display: none;
  }
  .container-fluid .dat #demo .carousel-caption img {
    width: 70%;
    margin-top: 25%;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1367) {
  .container-fluid .dat .navbar img {
    margin-right: 0;
  }
}
.container-fluid .son111 {
  background: pink;
}
.container-fluid .son111 .son {
  margin-top: 1%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .container-fluid .son111 .son {
    height: 60%;
    background-size: 100%;
    background: none;
  }
}
.container-fluid .son111 .son .v1 {
  height: 330px;
}
@media screen and (max-width: 1024px) {
  .container-fluid .son111 .son .v1 {
    height: 50%;
  }
}
.container-fluid .son111 .son .v1 img {
  width: 20%;
  height: 20%;
  margin: 0 auto;
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .container-fluid .son111 .son .v1 img {
    width: 10%;
    height: 10%;
  }
}
.container-fluid .son111 .son .v1 h5 {
  text-align: center;
  color: white;
}
@media screen and (max-width: 1024px) {
  .container-fluid .son111 .son .v1 h5 {
    font-size: 80%;
  }
}
.container-fluid .son111 .son .v1 p {
  text-align: center;
  color: white;
}
@media screen and (max-width: 1024px) {
  .container-fluid .son111 .son .v1 p {
    font-size: 60%;
  }
}
.container-fluid .son111 .son .v1 a {
  margin-left: 30%;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .container-fluid .son111 .son .v1 a {
    margin-left: 20%;
  }
}
.container-fluid .son111 .son .v1 .card {
  border: none;
  margin: 0;
}
.container-fluid .son111 .son .v1 .card .overlay {
  width: 90%;
  height: 95%;
  background: #e80b93;
  margin: 1% 0% 1% 0%;
  float: left;
}
.container-fluid .son111 .son .v1 .card .overlay:hover {
  border: 1px solid #E8E8E8;
  background: none;
}
@media screen and (max-width: 1024px) {
  .container-fluid .son111 .son .v1 .card .overlay:hover {
    border: 2px solid white;
    background: none;
    margin-left: 5%;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid .son111 .son .v1 .card .overlay:hover .overlay:hover {
    display: none;
  }
}
.container-fluid .son111 .son .v1 .v11 {
  opacity: 0.6;
}
.container-fluid .hau {
  margin-bottom: 50px;
  height: auto;
}
.container-fluid .hau .hau-1 {
  height: 100px;
  float: left;
}
.container-fluid .hau .hau-1 h3 {
  margin-left: 20px;
  line-height: 100px;
  margin: left;
}
.container-fluid .hau .hau-11 {
  height: 100px;
  float: left;
}
.container-fluid .hau .hau-11 h3 {
  margin-left: 20px;
  line-height: 100px;
  margin: left;
}
@media screen and (max-width: 767px) {
  .container-fluid .hau .hau-11 {
    display: none;
  }
}
.container-fluid .hau .hau-2 {
  float: left;
}
.container-fluid .hau .hau-2 .trai {
  float: left;
  margin: 0;
}
.container-fluid .hau .hau-2 .trai img {
  width: 100%;
  height: 100%;
}
.container-fluid .hau .hau-2 .giua {
  margin: 0;
  float: left;
}
.container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 h3 {
  padding-left: 12px;
  padding-right: 8px;
}
.container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 h3 hr {
  border: 1px solid green;
}
@media screen and (max-width: 768px) {
  .container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 h5 {
    font-size: 10pt;
  }
}
.container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 i {
  margin-left: 10px;
}
.container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 i span {
  font-size: 10pt;
  padding-left: 3px;
}
@media screen and (max-width: 768px) {
  .container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 i span {
    font-size: 8pt;
  }
}
@media screen and (max-width: 768px) {
  .container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 i {
    font-size: 10pt;
  }
}
.container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 p {
  font-size: 10pt;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 p {
    font-size: 6pt;
  }
}
@media screen and (max-width: 768px) {
  .container-fluid .hau .hau-2 .giua .giua-1 .giua-1-1 .giua-1-2 button {
    font-size: 8pt;
  }
}
.container-fluid .hau .hau-2 .phai {
  margin-top: -670px;
}
.container-fluid .hau .hau-2 .phai video {
  height: 180px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-fluid .hau .hau-2 .phai video {
    height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid .hau .hau-2 .phai {
    margin: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-fluid .hau .hau-2 .phai {
    margin-top: -580px;
  }
  .container-fluid .hau .hau-2 .phai h6 {
    font-size: 10pt;
  }
  .container-fluid .hau .hau-2 .phai p {
    font-size: 8pt;
  }
}
.container-fluid .hau .hau-2 .phai .hau-3 {
  margin-top: 50px;
}
.container-fluid .hau .hau-2 .phai .hau-3 img {
  height: 150px;
}
.container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon {
  position: absolute;
  bottom: -40%;
  right: -150px;
  width: 40px;
  height: 40px;
  background: grey;
}
.container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon i {
  margin-top: 5px;
  color: black;
}
@media screen and (max-width: 767px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon i {
    margin-top: -1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon {
    right: -80px;
    height: 30px;
    width: 30px;
  }
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon i {
    margin-top: -1px;
    color: black;
  }
}
@media screen and (min-width: 320px) and (max-width: 567px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
    right: -180px;
  }
}
@media screen and (min-width: 357px) and (max-width: 767px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon {
    right: -220px;
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 319px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon {
    right: -200px;
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1124px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-prev .carousel-control-prev-icon {
    height: 40px;
    width: 40px;
    margin-right: 30px;
  }
}
.container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon {
  position: absolute;
  bottom: -40%;
  width: 40px;
  height: 40px;
  background: grey;
}
.container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon i {
  margin-top: 5px;
  color: black;
}
@media screen and (max-width: 767px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon i {
    margin-top: -1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon i {
    margin-top: -1px;
    color: black;
  }
}
@media screen and (min-width: 320px) and (max-width: 567px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 357px) and (max-width: 767px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 319px) {
  .container-fluid .hau .hau-2 .phai .hau-3 .carousel-control-next .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }
}
.container-fluid .hau .hau-2 .phai .hau-4 {
  margin-top: 50px;
}
@media screen and (min-width: 767px) and (max-width: 1036px) {
  .container-fluid .hau .hau-2 .phai .hau-4 h5 {
    padding-top: 10px;
  }
}
.container-fluid .hau .hau-2 .phai .hau-5 {
  height: auto;
  background-image: url(img/nenlinh.jpg);
  margin-top: 30px;
}
.container-fluid .hau .hau-2 .phai .hau-5 .media img {
  width: 20%;
  height: 20%;
}
.container-fluid .hau .hau-2 .phai .hau-5 .media .media-body h6 {
  color: green;
}
.container-fluid .hau .hau-2 .phai .hau-5 .media .media-body h6 img {
  border-radius: 50%;
}
.container-fluid .hau .hau-2 .phai .hau-5 .media .media-body h6 img:hover {
  transform: scale(3);
}
.container-fluid .hung {
  height: auto;
  background-image: url("img/hung012.jpg");
  background-size: 100%;
  position: relative;
}
.container-fluid .hung .khunghinh {
  float: left;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(#ff0000 60%, #008000 20%);
  opacity: 0.5;
}
.container-fluid .hung .h4 .col-lg-6 h3 {
  margin-top: 130px;
  font-family: Verdana;
  text-align: center;
}
.container-fluid .hung .h4 .col-lg-6 h4 {
  margin-top: 40px;
  text-align: center;
  font-family: Georgia;
  text-transform: uppercase;
}
.container-fluid .hung .h4 .col-lg-6 h6 {
  text-align: center;
  font-family: Georgia;
}
.container-fluid .hung2 .gtco-container .animate-box .gtco-heading {
  margin-top: 50px;
}
.container-fluid .hung2 .gtco-container .animate-box .gtco-heading h2 {
  text-transform: uppercase;
  font-family: Georgia;
}
.container-fluid .hung2 .gtco-container .animate-box .col-md-1 {
  margin-top: 45px;
}
@media screen and (max-width: 989px) {
  .container-fluid .hung2 .gtco-container .animate-box .col-md-1 {
    display: none;
  }
}
.container-fluid .hung2 .gtco-container .row .animate-box {
  margin-top: 35px;
}
.container-fluid .hung2 .gtco-container .row .animate-box:hover {
  box-shadow: 5px 0px 40px rgba(223, 0, 41, 0.2);
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff {
  margin: 0 auto;
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff img {
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid black;
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff img:hover {
  box-shadow: 5px 0px 40px rgba(0, 127, 84, 0.2);
  transform: scale(1.2);
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff h3 {
  text-align: center;
  font-family: Georgia;
  margin-top: 30px;
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff h5 {
  text-align: center;
  font-family: cursive;
  color: gray;
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff .icon {
  margin: 0 auto;
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff .icon a {
  margin-left: 15px;
}
.container-fluid .hung2 .gtco-container .row .animate-box .gtco-staff .btn-primary {
  width: 60%;
  text-transform: uppercase;
  background: #CD1076;
  margin: 0 auto;
  font-family: Georgia;
}
=======
.container-fluid .thang{height:auto;background:#424242;color:white;clear:both}.container-fluid .thang .t1{height:400px;float:left}.container-fluid .thang .t1 .t1-1{height:30%}.container-fluid .thang .t1 .t1-1 h2{display:block;margin:0 auto;margin-top:15%}@media screen and (min-width:319px) and (max-width:767px){.container-fluid .thang .t1 .t1-1 h2{margin-left:10px}}.container-fluid .thang .t1 .t1-2{height:42%}.container-fluid .thang .t1 .t1-2 p{font-size:15px;padding:10px}.container-fluid .thang .t2{height:400px;float:left}.container-fluid .thang .t2 .t2-1{height:30%}.container-fluid .thang .t2 .t2-1 h5{display:block;margin:0 auto;margin-top:15%}@media screen and (min-width:319px) and (max-width:767px){.container-fluid .thang .t2 .t2-1 h5{margin-left:15px;margin-top:20px}}.container-fluid .thang .t2 .t2-2{height:60%;color:grey}.container-fluid .thang .t2 .t2-2 .col-md-12{height:25%;border-bottom:1px solid white}@media screen and (min-width:319px) and (max-width:767px){.container-fluid .thang .t2 .t2-2 .col-md-12{border-bottom:none}}.container-fluid .thang .t2 .t2-2 .col-md-12 img{margin:8%;width:10px;height:10px;float:left}@media screen and (max-width:769px){.container-fluid .thang .t2 .t2-2 .col-md-12 img{display:none}}.container-fluid .thang .t2 .t2-2 .col-md-12 p{float:left;margin-left:2%;margin-top:5%}@media screen and (max-width:769px){.container-fluid .thang .t2 .t2-2 .col-md-12 p{margin:20px 0px}}@media screen and (min-width:319px) and (max-width:767px){.container-fluid .thang .t2 .t2-2 .col-md-12 p{width:120%}}.container-fluid .thang .t3{height:400px;float:left}.container-fluid .thang .t3 .t3-1{height:30%}.container-fluid .thang .t3 .t3-1 h5{display:block;margin:0 20%;margin-top:15%}@media screen and (min-width:319px) and (max-width:767px){.container-fluid .thang .t3 .t3-1 h5{margin-right:5px}}.container-fluid .thang .t3 .t3-2{height:50%}.container-fluid .thang .t3 .t3-2 .col-md-4 img{display:block;height:45%;width:100%}.container-fluid .thang .t4{height:400px}.container-fluid .thang .t4 .t4-1{height:30%}.container-fluid .thang .t4 .t4-1 h5{display:block;margin:0 5%;margin-top:15%}.container-fluid .thang .t4 .t4-2{height:50%;color:grey}.container-fluid .thang .t4 .t4-2 .col-md-12{height:100%}.container-fluid .thang .t4 .t4-2 .col-md-12 img{display:block;width:32px;height:32px;margin-top:-5px}.container-fluid .thang .footer{height:100px;background:#1C1C1C;color:grey}.container-fluid .thang .footer .icon{height:80px;float:left;width:35%;margin:0 33%}.container-fluid .thang .footer .icon i{display:block;margin-left:13.5%;float:left;margin-top:10%}@media screen and (max-width:767px){.container-fluid .thang .footer .icon i{display:none}}.container-fluid .thang .footer .icon a{text-decoration:none;display:block;margin:0 auto;text-align:center;color:grey}@media screen and (max-width:767px){.container-fluid .thang .footer .icon a{text-align:inline;width:200%;margin-left:-50px}}
>>>>>>> 84917fa2bf9ca1bc7da4f5cfe26f3339aa095c90
